%section.row
  .cell.well

    %h1.ttu Some Damn Good Headline

    %p= lorem.sentence

    .btn{ href: '#' } Sketch

%section.row

  .cell.well

    %h2 Over 80 unique screens, 8 themes, and 200 elements

    %a.btn{ href: '#' } Get It Now

%section.row.bdrb

  .cell.well

    %h3= lorem.word

    %p= lorem.sentence

    %h3= lorem.word

    %p= lorem.sentence

    %h3= lorem.word

    %p= lorem.sentence

%section.row

  .cell.well

    %h3= lorem.sentence

    %p= lorem.sentence

    %a.btn{ href: '#' } Get It Now
