%section.row
  .cell.well

    .g

      .g-b.g-b--m--1of2

        %h1.ttu Some Damn Good Headline

        %p= lorem.sentence

        .btn{ href: '#' } Sketch

      .g-b.g-b--m--1of2

        %img.mbl.mtl{ alt: 'iPhone preview', src: '/assets/images/phone.jpg', width: '164' }

%section.row.row--peek.pbm.ptm.pbl--m.ptl--m

  .cell.well

    %p.tci.tsl.pbf Over 80 unique screens, 8 themes, and 200 elements

    %a.btn{ href: '#' } Get It Now

%section.row.bdrb

  .cell.well

    .g

      .g-b.g-b--m--1of3

        %img{ src: '/assets/images/icon-shape.png', width: '110' }

        %h3= lorem.word

        %p= lorem.sentence

      .g-b.g-b--m--1of3

        %img{ src: '/assets/images/icon-wheel.png', width: '103' }

        %h3= lorem.word

        %p= lorem.sentence

      .g-b.g-b--m--1of3

        %img{ src: '/assets/images/icon-bolt.png', width: '61' }

        %h3= lorem.word

        %p= lorem.sentence

%section.row

  .cell.well

    %h3.tsxl.ttu= lorem.sentence

    %p= lorem.sentence

    %a.btn{ href: '#' } Get It Now
